html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}

form {
  padding: 1rem;
  margin: 1rem auto;
  max-width: 400px;
  border: 2px solid #eee;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

input {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.3rem 0;
  border: 2px solid #eee;
  border-radius: 3px;
}

textarea {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 150px;

  border: 2px solid #eee;
  border-radius: 3px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid orange;
}

button {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  background-color: orange;

  width: 100%;
  padding: 0.5rem 0;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: orange;
}
